<footer class="footer">
  <div class="footer__item">
    <h4 class="footer__item--title">About</h4>
    <p class="about">Smile brighter,
      Live healthier.
      One tooth at a time.
      Enhancing smiles, improving lives</p>
  </div>
  <div class="footer__item">
    <h4 class="footer__item--title">Business Hours</h4>
    <p>Mon - Fri: 9am - 6pm</p>
    <p>Sat: 9am - 1pm</p>
    <p>Sun: Closed</p>
  </div>
  <div class="footer__item">
    <h4 class="footer__item--title">Contact Us</h4>
    <p>Phone: +123456789</p>
    <p>Email: info@dentist.com</p>
    <p>Address: 123 Main Street, City, State</p>

  </div>
  <div class="footer__item footer__item--social">
    <p style="font-size: 16.5px;">Follow us on:</p>
    <a href="">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="">
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</footer>
