$white: #fff;
$black: #0c0c0c;
$green: #00b2bf;
$darkblue: #0d63a0;
$light-green: #9ff0ee;

.band {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 6rem;
  background-color: #00b2bf;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: thin;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
}
.band-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.band h3 {
  font-size: 1rem;

  color: white;
  margin: 0;
}

.band p {
  font-size: 0.8rem;

  color: rgb(255, 255, 255);
  margin: 0;
}



*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width:30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  padding: 10px;

}


.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: f;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.staffblocks {
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      margin: 10px;
    }
  }
}
