<div class="band">
  <div class="band-content">
    <h3>About Us</h3>
    <p>Our Staffs are the Best</p>
  </div>
</div>
<div class="staffblocks">
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/dentist1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>{{dentist}}</h2>
          <p class="title">Dentist</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Lorem@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
</div>

