<div class="band">
  <div class="band-content">
    <h3>About Us</h3>
    <p>Our Staffs are the Best</p>
  </div>
</div>
<div class="contain">

  <div class="item"><img src="../../assets/images/dentist1.jpg" alt=""></div>
  <div class="item">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo assumenda necessitatibus quam nam reiciendis
      deserunt architecto neque officiis eum delectus! Recusandae, quisquam impedit eligendi corporis sequi fugit nihil
      doloremque earum ea numquam obcaecati nesciunt illo facere, dicta eos. Quidem, eos!</p>
    <h3>
      Dr. Lorem A. Ipsum
    </h3>
  </div>
</div>
<div class="contain1">
  <div class="item">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo assumenda necessitatibus quam nam reiciendis
      deserunt architecto neque officiis eum delectus! Recusandae, quisquam impedit eligendi corporis sequi fugit nihil
      doloremque earum ea numquam obcaecati nesciunt illo facere, dicta eos. Quidem, eos!</p>
    <h3>
      Dr. Lorem A. Ipsum
    </h3>
  </div>
  <div class="item"><img src="../../assets/images/dentist2.jpg" alt=""></div>

</div>
