<div class="box-form">
  <!-- Left Content -->
  <div class="left">
    <div class="overlay">
      <h1>Sign <br />Up</h1>
      <p>
        Sign Up to access our services and maximize features. LCL is here to
        provide accessibility towards our services.
      </p>
    </div>
  </div>

  <!-- Right Content -->
  <div class="right">
    <h5>Sign Up</h5>
    <p>
      Already have an account?
      <a style="cursor: pointer; color: #0d63a0" (click)="OnSignIn()">Log In</a>
    </p>
    <form (submit)="registerUser()">
      <div class="inputs">
        <br />
        <input
          placeholder="Email"
          [(ngModel)]="registerUserData.email"
          name="email"
          class="input"
          type="text"
        />
        <br/>
        <input
          placeholder="Password"
          [(ngModel)]="registerUserData.password"
          name="password"
          class="input"
          type="password"
        />
        <input
          placeholder="Repeat Password"
          [(ngModel)]="registerUserData.repeatPassword"
          name="repeatPassword"
          class="input"
          type="password"
        />
        <input
          placeholder="First Name"
          [(ngModel)]="registerUserData.firstName"
          name="firstName"
          class="input"
          type="text"
        />
        <br />
        <input
          placeholder="Middle Name"
          [(ngModel)]="registerUserData.middleName"
          name="middleName"
          class="input"
          type="text"
        />
        <br />
        <input
          placeholder="Last Name"
          [(ngModel)]="registerUserData.lastName"
          name="lastName"
          class="input"
          type="text"
        />
        <br />
        <select [(ngModel)]="registerUserData.suffix" name="suffix" class="input">
          <option value="" disabled selected>Choose a suffix</option>
          <option value="Jr.">Jr.</option>
          <option value="Sr.">Sr.</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
        </select>
        <br />

        <input
          placeholder="Phone Number"
          [(ngModel)]="registerUserData.phone"
          name="phone"
          class="input"
          type="tel"
        />
        <input
          placeholder="Age"
          [(ngModel)]="registerUserData.age"
          name="age"
          class="input"
          type="number"
        />
        <br />
        <input
          placeholder="Sex"
          [(ngModel)]="registerUserData.gender"
          name="sex"
          class="input"
          type="text"
        /> <br />
        <input
          placeholder="Comorbidity"
          [(ngModel)]="registerUserData.comorbidity"
          name="comorbidity"
          class="input"
          type="text"
        />
      </div>
      <br /><br />
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
