<div class="container">
  <form class="form">
    <p class="title">Sign Up </p>
    <p class="message">Register now and get full access to our app. </p>
    <div class="flex">
      <label>
        <input [(ngModel)]="firstName" name='firstName' required="" placeholder="" type="text" class="input">
        <span>Firstname</span>
      </label>

      <label>
        <input [(ngModel)]="lastName" name='lastName' required="" placeholder="" type="text" class="input">
        <span>Lastname</span>
      </label>
    </div>

    <label>
      <input [(ngModel)]="registerUserData.email" [(ngModel)]="registerUserData.email" name="email" required=""
        placeholder="" type="email" class="input">
      <span>Email</span>
    </label>

    <label>
      <input [(ngModel)]="registerUserData.password" name="password" required="" placeholder="" type="password"
        class="input">
      <span>Password</span>
    </label>
    <label>
      <input required="" placeholder="" type="password" class="input">
      <span>Confirm password</span>
    </label>
    <button class="submit" (click)="registerUser()">Submit</button>
    <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
  </form>
</div>
