<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <img src="../../../assets/images/clinicLogo.png" alt="">
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Contact</a></li>
        <li>
          <a href="#!" (click)="toggleDropdown()">Services</a>
          <ul class="nav-dropdown">
            <li><a href="#!">Service 1</a></li>
            <li><a href="#!">Service 2</a></li>
            <li><a href="#!">Service 3</a></li>
          </ul>
        </li>
        <li><a href="#!">About Us</a></li>
        <li><a href="#!">Sign In</a></li>
      </ul>
    </nav>
  </div>
</section>
