$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #0c0c0c;
$link-hover-color: #00b2bf;
$darkblue: #0d63a0;

.user-icon {
  color: $link-hover-color;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
}
.navigation {
  height: $nav-height;
  background: $nav-background;
  margin-bottom: 3rem;
  flex: auto;

}

.nav-container {
  max-width: 100%;
  margin: 0 1rem;

}

.brand {
  position: absolute;
  padding-left: 0px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  margin:0;

}
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 10px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;

        &::before {
          transition: 300ms;
          height: 5px;
          content: "";
          position: absolute;
          background-color: $link-hover-color;
          width: 0%;
          bottom: 0px;
        }

        &:hover::before {
          width: 70%;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

$color_1: #0c0c0c;
$color_2: #fff;
$background-color_1: #fff;
$background-color_2: #00b2bf;

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: $background-color_1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  li {
    display: block;
    a {
      padding: 10px;
      color: $color_1;
      text-decoration: none;
      &:hover {
        background-color: $background-color_2;
        color: $color_2;
      }
    }
  }
}

.hr hr {
  background-color: $link-hover-color;
  height: 1px;
}
