<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <img src="../../../assets/images/clinicLogo.png" alt="">
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" routerLink="{{routerLink[0]}}"><span></span></a>
      </div>
      <ul class="nav-list">
        <li><a routerLink= {{routerLink[0]}}>Home</a></li>
        <li><a routerLink="{{routerLink[1]}}">Contact</a></li>
        <li>
          <a routerLink="#!" (click)="toggleDropdown()">Services</a>
          <ul class="nav-dropdown">
            <li><a routerLink="{{routerLink[2]}}">Service 1</a></li>
            <li><a routerLink="{{routerLink[2]}}">Service 2</a></li>
            <li><a routerLink="{{routerLink[2]}}">Service 3</a></li>
          </ul>
        </li>
        <li><a routerLink="{{routerLink[3]}}">About Us</a></li>
        <li><a routerLink="{{routerLink[4]}}">Sign In</a></li>
      </ul>
    </nav>
  </div>
</section>
