<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a><span><img src="../../../assets/images/logo.png" alt=""></span>
      </a>
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a routerLink="{{dashBoard.path}}" *ngIf="_authService.loggedIn()"> {{dashBoard.name}} </a>
        </li>
        <li *ngFor="let route of routes">
          <a routerLink="{{ route.path }}" routerLinkActive="router-link-active">{{ route.name }}</a>
        </li>
        <li>
          <a routerLink="{{signIn.path}}" (click)="onToggleSignUp()"
            *ngIf="!_authService.loggedIn()&&!toggleSignUp">{{signIn.name}}</a>
        </li>
        <li>
          <a routerLink="{{signUp.path}}" (click)="onToggleSignUp()"
            *ngIf="!_authService.loggedIn()&&toggleSignUp">{{signUp.name}}</a>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="_authService.logoutUser()" *ngIf="_authService.loggedIn()">Logout</a>
        </li>

        <li>
          <a routerLink="{{signUp.path}}" *ngIf="_authService.loggedIn()"> <span class="user-icon"><i
                class="fas fa-user"></i></span><span>Profile</span> </a>
        </li>
      </ul>

    </nav>
  </div>
</section>
