<div class="band">
  <div class="band-content">
    <h3>Services</h3>
    <p>What We Offer</p>
  </div>
</div>
<section>

  <div class="content">
    <div class="image">
    </div>
    <div class="title">
      Teeth Whitening
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta qui maxime aliquid explicabo alias, modi
        quam blanditiis quos minus.</p>

      <a class="btn"><i class="fas fa-edit"></i></a>
      <a class="btn"><i class="fas fa-trash"></i></a>
    </div>
  </div>


  <div class="content">
    <div class="icon-contain">
      <a href="">
        <i class="fas fa-plus"></i>
      </a>
      <div class="text">
        <p>ADD SERVICES</p>
      </div>
    </div>
  </div>

</section>
