<div class="contain">
  <div class="item">
    <h1>
      Our Services
    </h1>
  </div>
  <div class="item">
    <h3>Teeth Cleaning</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, tempora fuga a autem vel eaque incidunt
      quaerat ea labore placeat reiciendis animi pariatur, harum asperiores maxime veniam at deserunt fugit.</p>
    <div class="btn">
      <a href="#">Make Appointment</a>
      <a href="#">View</a>
    </div>
  </div>
  <div class="item">
    <h3>Teeth Cleaning</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, tempora fuga a autem vel eaque incidunt
      quaerat ea labore placeat reiciendis animi pariatur, harum asperiores maxime veniam at deserunt fugit.</p>
    <div class="btn">
      <a href="#">Make Appointment</a>
      <a href="#">View</a>
    </div>
  </div>
  <div class="item">
    <h3>Teeth Cleaning</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, tempora fuga a autem vel eaque incidunt
      quaerat ea labore placeat reiciendis animi pariatur, harum asperiores maxime veniam at deserunt fugit.</p>
    <div class="btn">
      <a href="#">Make Appointment</a>
      <a href="#">View</a>
    </div>
  </div>
  <div class="item">
    <h3>Teeth Cleaning</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, tempora fuga a autem vel eaque incidunt
      quaerat ea labore placeat reiciendis animi pariatur, harum asperiores maxime veniam at deserunt fugit.</p>
    <div class="btn">
      <a href="#">Make Appointment</a>
      <a href="#">View</a>
    </div>
  </div>
  <div class="item">
    <h3>Teeth Cleaning</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, tempora fuga a autem vel eaque incidunt
      quaerat ea labore placeat reiciendis animi pariatur, harum asperiores maxime veniam at deserunt fugit.</p>
    <div class="btn">
      <a href="#">Make Appointment</a>
      <a href="#">View</a>
    </div>
  </div>
  <div class="item">
    <h3>Teeth Cleaning</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, tempora fuga a autem vel eaque incidunt
      quaerat ea labore placeat reiciendis animi pariatur, harum asperiores maxime veniam at deserunt fugit.</p>
    <div class="btn">
      <a href="#">Make Appointment</a>
      <a href="#">View</a>
    </div>
  </div>


</div>
