$white: #fff;
$black: #0c0c0c;
$green: #00b2bf;
$darkblue: #0d63a0;
$light-green: #9ff0ee;


.band {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 6rem;
  background-color: #00b2bf;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: thin;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
}
.band-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.band h3 {
  font-size: 1rem;

  color: white;
  margin: 0;
}

.band p {
  font-size: 0.8rem;

  color: rgb(255, 255, 255);
  margin: 0;
}

.contain {
  display: grid;
  gap: 2rem;
  height: auto;
  margin: 3rem 5rem 2rem 5rem;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  .item {
    height: auto;
    max-width: 18rem;
    min-width: 18rem;
    background-color: $green;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 5px 5px 10px #aaaaaa;
    p {
      text-align: justify;
    }
    .btn a {
      background-color: #fff;
      border-radius: 50px;
      margin: 0.5rem;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      color: $darkblue;
    }
    .btn a:hover{
      background-color: $darkblue;
      border-radius: 50px;
      margin: 0.5rem;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      color: $white;
      transition: ease-in-out 0.3s;
    }
  }
 
}
