<div class="containerr">
  <div class="calendar-controls">
    <button (click)="changeView('month')">Month</button>
    <button (click)="changeView('week')">Week</button>
    <button (click)="changeView('day')">Day</button>
  </div>
   <mwl-calendar-month-view
    *ngIf="currentView === 'month'"
    [viewDate]="viewDate"
    [events]="events"
    (dayClicked)="changeView('day', $event)"
  ></mwl-calendar-month-view>
  <div class="week">
    <mwl-calendar-week-view
      *ngIf="currentView === 'week'"
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="changeView('day', $event)"
    ></mwl-calendar-week-view>
  </div>
  <div class="day">
    <mwl-calendar-day-view
      *ngIf="currentView === 'day'"
      [viewDate]="viewDate"
      [events]="events"
    ></mwl-calendar-day-view>
  </div>
</div>
