$white: #fff;
$black: #0c0c0c;
$green: #00b2bf;
$darkblue: #0d63a0;
$light-green: #9ff0ee;

/* Hide time slots outside business hours */
.hide-outside-business-hours {
  display: none !important;
}

.legend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: center;
  padding-top: 0.5rem;
  gap: 0.3rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 100;
  font-size: 0.7rem;
}

.color-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}



.container {
  .selected-date{
    font-weight: 500;
    color: $darkblue;
    background-color: $white;
    padding: 0.5rem 1rem;
    border-bottom:1px solid #0d63a0;
  }
  .scrollable {
    max-height: 100%;
    height: 60vh;
    overflow: auto;
  }

  .calendar-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;

    P {
      font-size: large;
      margin-right: 10rem;
    }

    .calendar-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .calendar-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $darkblue;
      border-style: none;
      color: $white;
      padding: 0.5rem 1rem;
      margin: 1rem 0.25rem;
      border-radius: 1rem;
      border: 1px solid $darkblue;
      cursor: pointer;

      p {
        width: 100%;
        border-bottom: 1px solid $darkblue;

      }


    }

    .calendar-buttons:hover {
      background-color: $green;
      color: $white;
      transition: ease-in-out 0.3s;
      border: 1px solid $white;
    }
  }

}
