<div class="contain-all">
  <div class="greetings">
    <p>Hello Admin!</p>
  </div>
  <div class="containers">
    <div class="container">
      <div class="Worker">
        <p>Dentist</p>
        <div class="member">
          <p>Dr. Lorem Ipsum</p>
        </div>
      </div>
      <div class="Worker">
        <p>Staffs</p>
        <div class="member">
          <p>Staff Number One</p>
        </div>
      </div>
    </div>
    <div class="container">Info</div>
    <div class="container">Overview</div>
  </div>
</div>
