<div class="contain-all">
  <div class="greetings">
    <p>Hello Admin!</p>
  </div>
  <div class="containers">
    <div class="container">
      <div class="header">Work Force</div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-user-md"></i>
        </div>
        <div class="title">Dentists</div>
        <div *ngFor="let dentist of dentists" class="member">
          <p>{{ dentist }}</p>
        </div>
      </div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-user"></i>
        </div>
        <div class="title">Staffs</div>
        <div *ngFor="let staff of staffs" class="member">
          <p>{{ staff.name }}</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="header">Clinic Status</div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-clock"></i>
        </div>
        <div class="title">Business Hours</div>
        <div class="member">
          <p class="between">
            <span class="left"> Mon - Fri: </span>
            <span>
              {{ businessHours?.mondayToFriday?.start }} -
              {{ businessHours?.mondayToFriday?.end }}
            </span>
          </p>
          <p class="between">
            <span class="left">Sat:</span>
            <span>
              {{ businessHours?.saturday?.start }} -
              {{ businessHours?.saturday?.end }}
            </span>
          </p>
          <p class="between">
            <span class="left"> Sun: </span>
            <span> Closed </span>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header">
        <div class="title">Overview</div>
        <div class="date">{{ date | date : "EEEE MMMM d, yyyy h:mm a" }}</div>
      </div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-sun"></i>
        </div>
        <div class="title">Daily</div>
        <div class="member">
          <div>
            <span class="number">{{ usersRegisteredToday }}</span>
            <span class="unit">Patients</span>
          </div>
          <div>
            <span class="number">{{ approvedAppointmentsDay }}</span>
            <span class="unit">Appointments</span>
          </div>
        </div>
      </div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-moon"></i>
        </div>
        <div class="title">Monthly</div>
        <div class="member">
          <div>
            <span class="number">{{ usersRegisteredThisMonth }}</span>
            <span class="unit">Patients</span>
          </div>
          <div>
            <span class="number">{{ approvedAppointmentsMonth }}</span>
            <span class="unit">Appointments</span>
          </div>
        </div>
      </div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-calendar"></i>
        </div>
        <div class="title">Weekly</div>
        <div class="member">
          <div>
            <span class="number">{{ usersRegisteredThisWeek }}</span>
            <span class="unit">Patients</span>
          </div>
          <div>
            <span class="number">{{ approvedAppointmentsWeek }}</span>
            <span class="unit">Appointments</span>
          </div>
        </div>
      </div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-calendar-day"></i>
        </div>
        <div class="title">Appointments Today</div>
        <div class="member">
          <div class="grid">
            <div class="cards" *ngFor="let appointment of appointmentsToday">
              <div class="card">
                <div class="card-time">
                  Time:
                  {{ appointment.start | date : "hh:mm a" }} -
                  {{ appointment.end | date : "hh:mm a" }}
                </div>
                <div class="card-title">{{ appointment.title }}</div>

                <div class="card-patient">{{ appointment.patientName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="worker">
        <div class="circle-icon">
          <i class="fas fa-calculator"></i>
        </div>
        <div class="title">Total</div>
        <div class="member">
          <div>
            <span class="number">{{ registeredUsers }}</span>
            <span class="unit">Patients</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
