<div class="header">
  <p class="head">Profile</p>
</div>
<div class="container">
  <div class="info">
    <p class="lines">
      <span class="title">Contact: </span>
      <span class="description"> {{ contactNumber }} </span>
    </p>
    <p class="lines">
      <span class="title">Age: </span>
      <span class="description"> {{ age }} </span>
    </p>
    <p class="lines">
      <span class="title">Address: </span>
      <span class="description"> {{ address }} </span>
    </p>
    <p class="lines">
      <span class="title">Comorbidity: </span>
      <span class="description"> {{ comorbidity }} </span>
    </p>
  </div>
  <div class="icon">
    <div class="contain-icon">
      <i class="fas fa-user"></i>
    </div>
    <div class="information">
      <p class="name">
        {{ name }}
      </p>
      <p class="email">
        {{ email }}
      </p>
    </div>
  </div>
</div>
