<div class="band">
  <div class="band-content">
    <h3>OUR USERS</h3>
  </div>
</div>
<div class="add">
  <span><i class="fa-solid fa-plus"></i></span>
  <span>
    <h4>ADD USERS</h4>
  </span>
</div>
<div class="container">
  <div class="head">
    <div class="content">
      <ul>
        <li class="title"><span>EMAIL</span> </li>
        <li class="title">NAME</li>
        <li class="title">DATE ADDED</li>
        <input type="text" placeholder="search" [(ngModel)]="searchQuery" (input)="onSearch()">
      </ul>
    </div>
  </div>
  <div class="table">
    <div class="content">
      <div *ngFor="let user of filteredUsers">
        <ul>
          <li>{{ user.email }}</li>
          <li>{{ user.firstName }} {{ user.lastName }}</li>
          <li>{{ user.dateAdded | date }}</li> <!-- Assuming dateAdded is a valid date field in the user object -->
          <li>
            <a (click)="viewUserDetails(user)"><i class="fa-solid fa-eye"></i></a>
            <a (click)="editUserDetails(user)"><i
                class="fas fa-edit"></i></a>
            <a><i class="fa-solid fa-delete-left"></i></a>
            <a><i class="fa-solid fa-download"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Popup block -->
  <div class="popup-overlay" *ngIf="selectedUser">
    <div class="popup-content">
      <p>User </p>
      <ul>
        <li><span class="pop-bold">ID: </span>{{ selectedUser._id }}</li>
        <li>
          <span class="pop-bold">Name:</span> {{ selectedUser.firstName }} {{ selectedUser.lastName }}
        </li>
        <li><span class="pop-bold">Email: </span>{{ selectedUser.email }}</li>
        <li><span class="pop-bold">Date Added:</span> {{ selectedUser.dateAdded | date:'MMMM, d yyyy'}}</li>
        <!-- Add more details as needed -->
      </ul>
      <button class="close-button" (click)="closePopup()">Close</button>
    </div>
  </div>

</div>
