<div class="container">
  <form class="form">
    <div class="header">Sign In</div>
    <div class="inputs">
      <input placeholder="Email" [(ngModel)]="loginUserData.email" name="email" class="input" type="text" ngModel>
      <input placeholder="Password"[(ngModel)]="loginUserData.password" name="password" class="input" type="password">
      <div class="checkbox-container">
        <label class="checkbox">
          <input type="checkbox" id="checkbox">
        </label>
        <label for="checkbox" class="checkbox-text">Remember me</label>
      </div>
      <button class="sigin-btn" (click)="loginUser()">Submit</button>
      <a class="forget" (click)="onPressingForgotPassword()">Forgot password ?</a>
      <p class="signup-link">Don't have an account? <a routerLink="signIn" (click)="onPressingSignUp()">Sign up</a></p>
    </div>
  </form>
</div>
