<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Log <br> In.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
		</div>
	</div>
		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#">Create An Account</a></p>
		<div class="inputs">
			<input placeholder="Email" [(ngModel)]="loginUserData.email" name="email" class="input" type="text" ngModel>
			<br>
			<input placeholder="Password"[(ngModel)]="loginUserData.password" name="password" class="input" type="password">
		</div>
			<br><br>
		<div class="remember-me--forget-password">
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember Me</span>
	</label>
			<p><a href="#">Forgot Password</a></p>
		</div>
			<br>
			<button>Login</button>
	</div>

</div>
<br>
<br><br>
