<div class="container">
  <form class="form">
    <div class="header">Sign In</div>
    <div class="inputs">
      <input placeholder="Email" class="input" type="text">
      <input placeholder="Password" class="input" type="password">
      <div class="checkbox-container">
        <label class="checkbox">
          <input type="checkbox" id="checkbox">
        </label>
        <label for="checkbox" class="checkbox-text">Remember me</label>
      </div>
      <button class="sigin-btn">Submit</button>
      <a class="forget" href="#">Forget password ?</a>
      <p class="signup-link">Don't have an account? <a href="#">Sign up</a></p>
    </div>
  </form>
</div>
