<div class="wrapper">
  <div class="image-container">
    <div class="image">
      <img src="../../../assets/images/graphic-pedeatric-dentistry.png" alt="home page image">
    </div>
  </div>
  <div class="text-container">
    <div class="text">
      <h3>Welcome to our clinic</h3>
      <h1>Smile brighter,<br> Live healthier. <br> One tooth at a time.</h1>
      <p>Enhancing smiles, improving lives</p>
      <button>Make an Appointment</button>
    </div>
  </div>
</div>
<div class="social-icons">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
</div>

<div class="band">Get in touch with us today at +63 912 345 6789</div>

<div class="detail-home">
  <div class="text-container">
    <div class="text">
      <h3>RELAX YOUR DENTIST KNOWS THE BEST</h3><br>
      <h4>Dental hygiene never forget!</h4>
      <p>Lorem ipsum something.</p>
      <h4>Dental hygiene never forget!</h4>
      <p>Lorem ipsum something.</p>
      <h4>Dental hygiene never forget!</h4>
      <p>Lorem ipsum something.</p>
    </div>
  </div>
  <div class="image-container">
    <div class="image">
      <img src="../../../assets/images/graphic-pedeatric-dentistry.png" alt="home page image">
    </div>
  </div>
</div>
