<div class="band">
  <div class="band-content">
    <h3>MAKE APPOINTMENTS</h3>
    <p>We will do our best to accommodate you!</p>
  </div>
</div>

<div class="business-hours">
  <p>
    <span class="head">Business Hours:</span>
    <br />
    <span class="bold">Mon - Fri:</span>
    <span class=""
      >{{ businessHours?.mondayToFriday?.start }} -
      {{ businessHours?.mondayToFriday?.end }}</span
    ><span class="bold"> Sat:</span
    ><span class=""
      >{{ businessHours?.saturday?.start }} -
      {{ businessHours?.saturday?.end }}</span
    ><span class="bold">Sun:</span><span class="">Closed</span>
  </p>
</div>
<div class="business-hours-appointment">
  <div class="business-hours">
    <p class="italic">Check the dentist calendar to see available slots</p>
  </div>
</div>
<div class="contain">
  <div class="calendar">
    <app-calendar></app-calendar>
  </div>

  <div *ngIf="!showForm">
    <form class="form" (submit)="onShowForm()">
      <p>Choose the number of services you want to book:</p>
      <select [(ngModel)]="selectedServiceCount" name="selectedServiceCount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <button type="submit">Next</button>
    </form>
  </div>

  <div *ngIf="showForm">
    <form class="form" (submit)="submitForm()" #appointmentForm="ngForm">
      <p>Schedule an Appointment</p>

      <!-- Loop for generating service dropdowns -->
      <div
        class="form-field"
        *ngFor="let count of getCountArray(); let i = index"
      >
        <label [for]="'service' + count">SERVICE {{ count }}</label>
        <select
          [id]="'service' + count"
          [name]="'selectedService' + count"
          style="cursor: pointer"
          [(ngModel)]="selectedServices[i]"
          required
        >
          <option *ngFor="let service of services" [value]="service.title">
            {{ service.title }}
          </option>
        </select>
      </div>

      <div class="form-field">
        <label for="date">DATE</label>
        <input
          style="cursor: pointer"
          type="date"
          id="date"
          name="selectedDate"
          [(ngModel)]="selectedDate"
          required
        />
      </div>
      <div class="form-field">
        <label for="time">TIME</label>
        <input
          type="time"
          id="time"
          style="cursor: pointer"
          name="selectedTime"
          [(ngModel)]="selectedTime"
          required
          [min]="getStartTime(selectedDate)"
          [max]="getEndTime(selectedDate)"
        />
      </div>

      <button
        type="submit"
        [disabled]="!appointmentForm.form.valid"
        [class.disabled]="!appointmentForm.form.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<div class="messageBlock" *ngIf="showMessageBlock">
  <app-message-block
    [showMessageBlock]="showMessageBlock"
    [message]="message"
    [messageBlockType]="messageBlockType"
    (onClose)="onClose()"
  ></app-message-block>
</div>
