<div class="contain">
  <div class="calendar">
    <app-calendar></app-calendar>
  </div>
  <form class="form" (submit)="submitForm()">
    <label for="service">Select a service:</label>
    <select id="service" name="service" [(ngModel)]="selectedService">
      <option *ngFor="let service of services" [value]="service.title">
        {{ service.title }}
      </option>
    </select>
    <div>
      <label for="date">Select a date:</label>
      <input type="date" id="date" name="date" [(ngModel)]="selectedDate" />
    </div>
    <div>
      <label for="time">Select time:</label>
      <input type="time" id="time" name="time" [(ngModel)]="selectedTime" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
